.clickable{
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .text-reduce{
      font-size: 10px;
    }
    
  }

@media only screen and (max-width: 576px) {
    .text-reduce{
      font-size: 10px;
    }
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
      padding-left: 0px;
  }
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0px;
}
  }

  