<section class="search-page container my-5">
  <header class="search-header">
    <h1 class="search-title">Recherche de profils GitHub</h1>
    <p class="search-subtitle">
      Filtrez par pseudo, localisation et langage pour identifier les profils les plus pertinents.
    </p>
  </header>

  <div class="search-panel">
    <form [formGroup]="form" class="search-form" action="">
      <div class="field-group">
        <label for="user">Pseudo (login)</label>
        <input class="form-control" formControlName="user" name="user" id="user" placeholder="bambadiagne" />
      </div>

      <div class="field-group">
        <label for="location">Pays ou ville</label>
        <div class="input-stack">
          <input class="form-control" formControlName="location" name="location" id="location" placeholder="Senegal" />
          <button [disabled]="disableForm" type="button" class="btn-add" (click)="this.addLocation()">Ajouter</button>
        </div>
        <div class="tag-list">
          <app-tag
            *ngFor="let location of this.locations; let i = index"
            [isRemovable]="true"
            [isColor]="false"
            [tag]="location"
            (tagRemoved)="this.removeLocation($event, i)"
          ></app-tag>
        </div>
      </div>

      <div class="field-group">
        <label for="language">Langage principal</label>
        <div class="input-stack">
          <input class="form-control" formControlName="language" name="language" id="language" placeholder="Python" />
          <button [disabled]="disableForm" type="button" class="btn-add" (click)="this.addLanguage()">Ajouter</button>
        </div>
        <div class="tag-list">
          <app-tag
            *ngFor="let language of this.languages; let i = index"
            [isRemovable]="true"
            [isColor]="false"
            [tag]="language"
            (tagRemoved)="this.removeLanguage($event, i)"
          ></app-tag>
        </div>
      </div>

      <div class="action-row">
        <button type="button" class="btn btn-search" (click)="submit()">Rechercher</button>
        <button type="button" class="btn btn-reset" (click)="reinitialiser()">Reinitialiser</button>
      </div>
    </form>
  </div>

  <div class="results-summary" *ngIf="dataSource.data.length > 0">
    {{ dataSource.data.length }} resultat<span *ngIf="dataSource.data.length > 1">s</span> trouves
  </div>

  <mat-tab-group id="content" #content class="results-tabs" mat-stretch-tabs mat-align-tabs="center">
    <mat-tab label="Resultats de recherche">
      <div class="results-body">
        <mat-spinner class="results-spinner" *ngIf="showSpinner"></mat-spinner>
        <app-users-table
          *ngIf="!showSpinner"
          [displayedColumns]="displayedColumns"
          [dataSource]="dataSource"
        ></app-users-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
