<div class="my-5">
  <div class="my-2">
    <p class="text-center">
      Il y'a <span class="font-weight-bold"> {{ allSenegaleseData.length }}</span> utilisateurs de github localisés au
      Sénégal
    </p>
    <p class="fw-bold text-center">Les données sont mises à jour chaque heure🚀!!!</p>
  </div>
  <mat-tab-group
    id="content"
    (selectedTabChange)="changeTab($event)"
    mat-stretch-tabs
    mat-align-tabs="center"
    [(selectedIndex)]="this.currentTab"
    [dynamicHeight]="true"
    backgroundColor="primary"
  >
    <div class="row">
      <div class="col">
        <mat-tab label="Total de commits">
          <mat-spinner class="row justify-content-center mx-auto" *ngIf="isLoading"></mat-spinner>

          <app-users-table
            *ngIf="currentTab === 0"
            [displayedColumns]="displayedColumns"
            [dataSource]="dataSource"
          ></app-users-table>
        </mat-tab>
      </div>
      <div class="col">
        <mat-tab label="Total de contributions(publique)">
          <mat-spinner class="row justify-content-center mx-auto" *ngIf="isLoading"></mat-spinner>
          <app-users-table
            *ngIf="currentTab === 1"
            [displayedColumns]="displayedColumns"
            [dataSource]="dataSource"
          ></app-users-table>
        </mat-tab>
      </div>

      <div class="col">
        <mat-tab label="Total de contributons (publique + privé)">
          <mat-spinner class="row justify-content-center mx-auto" *ngIf="isLoading"></mat-spinner>
          <app-users-table
            *ngIf="currentTab === 2"
            [displayedColumns]="displayedColumns"
            [dataSource]="dataSource"
          ></app-users-table>
        </mat-tab>
      </div>
    </div>
    <div></div>
  </mat-tab-group>
</div>
