<div class="">
  <mat-toolbar class="container-fluid w-100" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1 class="d-none d-lg-block">Github Stats</h1>
      <span class="menu-spacer"></span>
      <div class="d-none d-lg-block">
        <a mat-button [routerLink]="'/users/senegal'">/&nbsp;🇸🇳</a>
        <a mat-button [routerLink]="'/users'">/&nbsp;🌍</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="bg-body">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/users/senegal'">Senegal contributions </a>
        <a mat-list-item [routerLink]="'/users'">World Wide </a>
      </mat-nav-list>
    </mat-sidenav>

    <a mat-list-item [routerLink]="'/users/senegal'">Senegal contributions</a>
    <a mat-list-item [routerLink]="'/users'">World Wide</a>
    <mat-sidenav-content class="w-100"> </mat-sidenav-content>
    <mat-sidenav-content class="w-100">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
