<div class="container-xl">
  <mat-toolbar class="container-fluid w-100" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1 class="d-none d-lg-block">Github Stats</h1>
      <span class="menu-spacer"></span>
      <div class="d-none d-lg-block">
        <a mat-button [routerLink]="'/users/senegal'">Senegal contributions</a>
        <a mat-button [routerLink]="'/users'">World Wide</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="bg-body">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/users/senegal'">Senegal contributions </a>
        <a mat-list-item [routerLink]="'/users'">World Wide </a>
      </mat-nav-list>
    </mat-sidenav>

    <a mat-list-item [routerLink]="'/users/senegal'">Senegal contributions</a>
    <a mat-list-item [routerLink]="'/users'">World Wide</a>

    <mat-sidenav-content class="w-100 container-xl">
      <div class="my-5">
        <div class="jumbotron border rounded p-5 shadow-lg my-5">
          <h1 class="display-4">Bienvenue,cher visiteur!</h1>
          <p class="lead text-reduce">
            Github Users Stats est une application qui vous permet par exemple de savoir qui utilise un certain langage
            (go, python, java,...), récupérer tous les utilisateurs d'un lieu pour votre ensemble de données par
            exemple, il peut aussi aider les recruteurs...
          </p>
          <hr class="my-4" />
          <p>
            Supporter le projet en mettant un star.
            <a href="https://github.com/bambadiagne/github-user-stats" target="_blank"
              ><img src="https://img.shields.io/github/stars/bambadiagne/github-user-stats?style=social" alt=""
            /></a>
          </p>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
